In [59]:
import requests
import pandas as pd
from GetWbData import GetWbData

### Question 1
Use the API to get all available data for the GDP per capita, PPP (constant 2017 international $) indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

In [4]:
# variables
lst = []
endpoint = 'http://api.worldbank.org/v2/country/all/indicator/'
indicator = 'NY.GDP.PCAP.PP.KD'
params = {
    'format': 'json',
    'per_page': 50
}
url = endpoint + indicator

# get number of pages
res = requests.get(url, params).json()
pages = res[0]['pages']

for page in range(1, pages + 1):
    params['page'] = page
    res = requests.get(url, params).json()
    lst.append(res[1])

gdp = pd.json_normalize([r for d in lst for r in d])

### Question 2
Now, use the API to get all available data for Life expectancy at birth, total (years). This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

In [8]:
# variables
lst = []
endpoint = 'http://api.worldbank.org/v2/country/all/indicator/'
indicator = 'SP.DYN.LE00.IN'
params = {
    'format': 'json',
    'per_page': 50
}
url = endpoint + indicator

# get number of pages
res = requests.get(url, params).json()
pages = res[0]['pages']

for page in range(1, pages + 1):
    params['page'] = page
    res = requests.get(url, params).json()
    lst.append(res[1])

le = pd.json_normalize([r for d in lst for r in d])

### Question 3
Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

In [19]:
# drop empty columns
gdp = gdp.drop(['unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value'], axis = 1)

In [22]:
# rename remaining columns
gdp = gdp.rename(columns = {'value': 'gdp_per_capita', 'country.id': 'country_id', 'country.value': 'country_name'})

In [24]:
gdp.head(1)

,countryiso3code,date,gdp_per_capita,country_id,country_name
0,AFE,2022,3553.91337,ZH,Africa Eastern and Southern

In [27]:
le = le.drop(['unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value'], axis = 1)

In [29]:
le = le.rename(columns = {'value': 'life_expectancy', 'country.id': 'country_id', 'country.value': 'country_name'})

In [30]:
le.head(1)

,countryiso3code,date,life_expectancy,country_id,country_name
0,AFE,2022,NaN,ZH,Africa Eastern and Southern

In [31]:
gdp_le = pd.merge(gdp, le, on = ['countryiso3code', 'date', 'country_id', 'country_name'], how = 'inner')

In [32]:
gdp_le.head(1)

,countryiso3code,date,gdp_per_capita,country_id,country_name,life_expectancy
0,AFE,2022,3553.91337,ZH,Africa Eastern and Southern,NaN

### Question 4
You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the Country API. Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

In [9]:
# variables
lst = []
endpoint = 'http://api.worldbank.org/v2/country/all/'
# indicator = 'SP.DYN.LE00.IN'
params = {
    'format': 'json',
    'per_page': 50
}
url = endpoint # + indicator

# get number of pages
res = requests.get(url, params).json()
pages = res[0]['pages']

for page in range(1, pages + 1):
    params['page'] = page
    res = requests.get(url, params).json()
    lst.append(res[1])

country = pd.json_normalize([r for d in lst for r in d])

In [43]:
country.head(1)

,countryiso3code,country_id,country_name,capital_city,longitude,latitude,region_id,region_code,region_name,admin_region_id,admin_region_code,admin_region_name,income_level_id,income_level_code,income_level,lending_type_id,lending_type_code,lending_type
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified

In [42]:
country = country.rename({'id': 'countryiso3code', 
                          'iso2Code': 'country_id', 
                          'name': 'country_name',
                          'capitalCity': 'capital_city',
                          'region.id': 'region_id', 
                          'region.iso2code': 'region_code', 
                          'region.value': 'region_name', 
                          'adminregion.id': 'admin_region_id', 
                          'adminregion.iso2code': 'admin_region_code',
                          'adminregion.value': 'admin_region_name',
                          'incomeLevel.id': 'income_level_id',
                          'incomeLevel.iso2code': 'income_level_code',
                          'incomeLevel.value': 'income_level',
                          'lendingType.id': 'lending_type_id',
                          'lendingType.iso2code': 'lending_type_code',
                          'lendingType.value': 'lending_type'}, axis = 1)

In [54]:
# drop rows with null (empty string) longitude to eliminate non-countries
country = country[country['longitude']!= '']

In [56]:
gdp_le_country = pd.merge(gdp_le, country, on = ['countryiso3code', 'country_name', 'country_id'], how = 'inner')

### Before tackling the bonus questions I turned the loop I was using into a function and put it in a module.

### Bonus Question 1
Adjust your request so that it returns data just for the United States.

In [69]:
country.loc[country['country_name'] == 'Canada']

,countryiso3code,country_id,country_name,capital_city,longitude,latitude,region_id,region_code,region_name,admin_region_id,admin_region_code,admin_region_name,income_level_id,income_level_code,income_level,lending_type_id,lending_type_code,lending_type
43,CAN,CA,Canada,Ottawa,-75.6919,45.4215,NAC,XU,North America,,,,HIC,XD,High income,LNX,XX,Not classified

In [66]:
# trying this out with life expectancy, it will work the same for gdp
params = {
    'format': 'json',
    'per_page': 50
}

le_us = GetWbData(params, country = 'US', indicator = 'SP.DYN.LE00.IN')

le_us.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2022,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
1,USA,2021,76.329268,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
2,USA,2020,76.980488,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
3,USA,2019,78.787805,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
4,USA,2018,78.639024,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States

### Bonus Question 2
Adjust your request so that it returns data just for the United States for the year 2021.

In [67]:
# trying this out with life expectancy, it will work the same for gdp
params = {
    'format': 'json',
    'per_page': 50,
    'date': 2021
}

le_us_2021 = GetWbData(params, country = 'US', indicator = 'SP.DYN.LE00.IN')

le_us_2021.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,76.329268,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States

### Bonus Question 3
Adjust your request so that it returns data just for the United States for the years 2000 through 2021.

In [68]:
params = {
    'format': 'json',
    'per_page': 50,
    'date': '2000:2021'
}

le_us_2000_2021 = GetWbData(params, country = 'US', indicator = 'SP.DYN.LE00.IN')

le_us_2000_2021.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,76.329268,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
1,USA,2020,76.980488,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
2,USA,2019,78.787805,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
3,USA,2018,78.639024,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
4,USA,2017,78.539024,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States

### Bonus Question 4
Adjust your request so that it returns data for the United States and Canada for the years 2000 through 2021.

In [70]:
params = {
    'format': 'json',
    'per_page': 50,
    'date': '2000:2021'
}

le_us_ca_2000_2021 = GetWbData(params, country = 'US;CA', indicator = 'SP.DYN.LE00.IN')

le_us_ca_2000_2021.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,CAN,2021,82.596610,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",CA,Canada
1,CAN,2020,81.670488,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",CA,Canada
2,CAN,2019,82.228780,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",CA,Canada
3,CAN,2018,81.843902,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",CA,Canada
4,CAN,2017,81.832927,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",CA,Canada